{
  "extends": ["@commitlint/config-conventional"],
  "rules": {
    "body-full-stop": [2, "never", "."],
    "type-enum": [
      2,
      "always",
      [
        "feat",
        "fix",
        "docs",
        "style",
        "refactor",
        "test",
        "chore",
        "build",
        "ci",
        "perf",
        "revert"
      ]
    ],
    "scope-empty": [2, "never"],
    "scope-enum": [
      2,
      "always",
      [
        "rooms",
        "infra",
        "env",
        "data",
        "config",
        "ui",
        "page",
        "hook",
        "router",
        "form",
        "service-layer",
        "layout",
        "tooling"
      ]
    ],
    "subject-case": [2, "never", ["start-case", "pascal-case", "upper-case"]],
    "subject-full-stop": [2, "never", "."]
  }
}
